.client {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media all and (min-width: 480px) and (max-width: 767px) {
  .client {
    display: inline;
    flex-direction: column;
    width: 210px;
    height: 92px;
    gap: 20px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .client {
    display: inline;
    flex-direction: column;
    width: 226px;
    height: 92px;
    gap: 40px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .client__icon {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .client__icon {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.client__h2 {
  font-size: 32px;
  justify-content: center;
  display: flex;
}
.client__icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  --color1: #afb1b8;

  &:hover {
    --color4: #2196f3;
    cursor: pointer;
  }
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
