.container {
  margin: 0px auto;
  padding: 0px 15px;
  @media all and (min-width: 480px) {
    .container {
      position: absolute;
      width: 480px;
      height: 5457px;
      left: 0px;
      top: 0px;
      display: block;
    }
  }
}
