.hero {
  background: #2f303a;
  background-image: url(../images/team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  color: #ffffff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 34px;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
