.lorem__ipsum {
  display: flex;
}

.lorem__ipsum__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.lorem-ipsum__picture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.picture-logo {
  display: flex;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media all and (max-width: 480px) {
  .lorem__ipsum {
    flex-direction: column;
  }
}

@media all and (max-width: 480px) {
  .lorem__ipsum__text {
    width: 350px;
    height: 50px;
  }
}

@media all and (max-width: 480px) {
  .lorem-ipsum__picture {
    width: 400px;
    height: 120px;
  }
}

@media all and (max-width: 768px) {
  .lorem__ipsum {
    width: 768px;
    height: 1285px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 768px) {
  .lorem__ipsum__picture {
    width: 768px;
    height: 1285px;
    left: 15px;
  }
}
