.work__h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.work {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.work__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  width: 370px;
  height: 70px;
  justify-content: center;
  top: 1290px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
}
